{% extends 'base.html' %}

{% block content %}
 <div class="container-fluid">
 <div class="row">
     <div class="col-sm"></div>
     <div class="col-sm">

<div class="alert alert-success" role="alert">
  Wiadomość wysłana poprawnie!
</div>






     <br />


     </div>
     <div class="col-sm"></div>
 </div>
 </div>
                <script>
  $("#id_useremail").addClass("form-control");
  $("#id_msgtitle").addClass("form-control");
  $("#id_password2").addClass("form-control");
  $("#id_msg").addClass("form-control");
                </script>
{% endblock %}
        </div>




