{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Exhibits - love your life - show your life</title>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" type="text/css" href="{% static 'assets/bootstrap/css/bootstrap.css'%}">
    <link rel="stylesheet" type="text/css" href="{% static 'assets/bootstrap/css/bootstrap-social.css'%}">

    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <script src="{% static 'js/jquery-3.4.1.min.js'%}"></script>

    <script src="{% static 'assets/bootstrap/js/bootstrap.min.js'%}"></script>


  </head>
  <body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Exhibit</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'index' %}">Strona główna <span class="sr-only">(current)</span></a>
      </li>
        {% if user.is_authenticated %}

      <li class="nav-item">
        <a class="nav-link" href="{% url 'me' %}">Moja tablica</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="{% url 'contacts' %}">Znajomi</a>
      </li>

            <li class="nav-item">
        <a class="nav-link" href="{% url 'inmails' %}"><Strong>InMail</Strong></a>
      </li>
                        <li class="nav-item">
        <a class="nav-link" href="{% url 'send_message' %}">Wiadomośc do administratora</a>
      </li>


               {% endif %}
    </ul>
    <form method="get" action="{% url 'search' %}" class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" name="q" placeholder="Search" aria-label="Search"  >
      <button class="btn btn-outline-success my-2 my-sm-0 "style="display:none;" type="submit" value="Search">Search</button>
    </form>
      <ul class="nav navbar-nav navbar-right">
                    {% if user.is_authenticated %}

                        <li class="">
                                        <a href="{%  url 'photo-add' %}" class="btn btn-outline-info" role="button" aria-disabled="true"></span>Dodaj zdjęcie</a>

                    </li>

                    <li class="">
                    <a href="{% url 'logout' %}" class="btn btn-outline-danger" role="button" aria-disabled="true"></span>Wyloguj się {{ username }}</a>

                    </li>
                    {% else %}
                    <li class="">
                                        <a href="{%  url 'signup' %}" class="btn btn-outline-warning" role="button" aria-disabled="true"></span>Utwórz konto</a>

                    </li>
                    <li class="">
                                        <a href="{%  url 'login' %}" class="btn btn-outline-info" role="button" aria-disabled="true"></span>Zaloguj się</a>

                    </li>
                    {% endif %}
                </ul>
  </div>
</nav>
    {% block content %} {% endblock %}
  </body>


</html>
